.Rproj.user
.Rhistory
.RData
.DS_Store

project/analysis/.Rhistory
project/rdas
project/iPSC+LCL/src/gene_annotations_cache/
project/iPSC+LCL/src/gene_annotations_files/
project/iPSC+LCL/src/tsne_omega_files/
project/analysis/batch_correction_check_cache/
project/analysis/batch_correction_check_files/
project/analysis/lcl_structure_cache/
project/analysis/gene_annotations_ipsc_lcl_cache/
project/analysis/gene_annotations_ipsc_lcl_files/
project/data/macosko-2015-dropseq/
project/analysis/cellcycleR_compare1_files
project/analysis/cellcycleR_compare2_files
project/analysis/cellcycleR_compare3_files
project/analysis/cellcycleR_compare1_cache
project/analysis/cellcycleR_compare2_cache
project/analysis/cellcycleR_compare3_cache
